/*Hero*/
/*Format font*/

/*End Format*/    
/*Palet colours*/
:root{
    --white: #d4eeab;
    --secondary: #9192AC;
    --color-section: #454647;
    --color-sectionUno: #f1f1f1;
    --color-title: rgb(35, 40, 107);
}
/*End Palet*/
/*hero*/
.hero{
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 560px;
    width: 100%;
}
.hero__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*CENTRAR*/
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.hero__title{
    color: var(--white);
    font-size: 60px;
    font-weight: 700;
}
.hero__title span{
    color: rgb(182, 207, 214);
    font-size: 70px;
    font-weight: 700;
}
.hero__description{
    color: var(--secondary);
    font-size: 25px ;
}
.hero__dire{
    text-decoration: none !important;
    color: #9192AC;
    padding: 10px 15px;
    border: 1px solid #bd926d;
    font-size: 16px;
    
}
.hero__dire:hover{
    background-color: #232f3c;
    color: #f1f1f1;
}
/*End hero*/
.section-desing{
    background-color: var(--color-sectionUno);
}
h2{
    text-align: center;
}
/*Style de section filosofia*/
.img-about{
    height: 300px;
    background-image: url("../images/local-negocio.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.about-information{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.about-information h2{
    color: var(--white) !important;
}
/*Footer*/
footer section h5{
    color: #cfcfcf;
    font-weight: 700;
}
footer section p{
    color: #b9b5b5;
}
.footer-icon i{
    font-size: 40px;
}
.footer-down{
    color: #999999;
    text-align: center;
    border-top:1px solid #464b50;
    background:#232f3c;
}
/*Style BTN ROUNDED*/
.btn-rounded{
    border-radius: 18px;
}
/*Styles de servicios*/
.img-start{
    width: 75px;
}